#site-main {
  padding: 20px 0;
  background-color: $white;
}
#site-content {
    @media (min-width: $screen-sm-min) {
        width: 50%;
    }
}
.post {
  margin-bottom: 40px;
}
.page-content,
.entry-content {
  img {
    max-width: 100%;
    height: auto;
  }
}