.home {
  #home-slider {
    background-color: $gray-lighter;
    border-bottom: 1px solid $white;
    box-shadow: 0px 0px 3px 0px $gray-lighter;
  }
  .ls-wp-fullwidth-container {
    min-height: 400px;
  }
}